{% extends "layouts/auth.html" %}

{% block content %}
<form class="form-singin" action="" method="post" novalidate>
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
            <div class="text-danger">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {% set error_mail = ' is-invalid' if form.email.errors else '' %}
        {{ form.email.label(class="sr-only", for="input-email") }}
        {{ form.email(size=32, class='form-control input-lg' + error_mail, id="input-email", placeholder=form.email.label.text) }}

        {% if form.email.errors %}
            <ul class="invalid-feedback">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {% set error_password = ' is-invalid' if form.email.errors else '' %}
        {{ form.password.label(class="sr-only", for="input-password") }}
        {{ form.password(size=32, class="form-control" + error_password, id="input-password", placeholder=form.password.label.text) }}

        {% if form.password.errors %}
            <ul class="invalid-feedback">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group text-center">
        <div class="checkbox mb-3">
            {{ form.remember_me() }} {{ form.remember_me.label.text }}
        </div>
    </div>
    <div class="form-group row mb-0">
        <div class="col-12">
            {{ form.submit(class="btn btn-lg btn-purple btn-block mb-4") }}
            <div class="form-group text-center">
                <a class="text-dark" href="{{ url_for('auth.register') }}">
                    ¿No tienes cuenta? ¡Regístrate ya!
                </a>
            </div>
            <div class="form-group text-center">
                <a class="text-dark" href="#">
                    ¿Has olvidado la contraseña?
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
