@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons&display=swap');

//@import '~bootstrap/scss/bootstrap';
@import '~daemonite-material/assets/scss/material';
@import "~sweetalert2/src/sweetalert2";

@import "components/sticky-footer";
@import "components/navbar";
@import "components/index";
@import "components/utils";