@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Material+Icons&display=swap');

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$scale: 1.03;
$radius: 12px;
