/* Use: @include facing(Gotham); */
@mixin facing($name) {
  font-family: $name;
  $url: '../../../resources/fonts/#{$name}';
  src: url('#{$url}.eot');
  src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
    //url('#{$url}.woff2') format('woff2'),
  url('#{$url}.woff') format('woff'),
  url('#{$url}.ttf') format('truetype'),
  url('#{$url}.svg#ds-digitalnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use: @include media(xl); */
@mixin media($breakpoint) {
  @each $name, $size in ('sm': 576,'md': 768, 'lg': 992, 'xl': 1200) {
    @if $name == $breakpoint {
      @media (min-width: #{$size}px) {
        @content;
      }
    }
  }
}

/* Use: @include font-size(14px); */
@mixin font-size($size) {
  font-size: $size / 16px * 1rem;
}