{% extends "base.html" %}

{% block content %}
<div class="d-flex align-items-center p-3 my-3 rounded box-shadow">
    {% if current_user.is_authenticated %}
        <h1 class="text-light">Hello, 'su' {{ current_user.username }}!</h1>
    {% endif %}
</div>
<div class="my-3 p-3 bg-white rounded box-shadow table-responsive">
    <h6 class="border-bottom border-gray pb-2 mb-0">All users and their files</h6>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Filename</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <th scope="row">{{ user.username }}</th>
                <td>
                    <a href="{{ url_for('manager.show', username=user.id) }}">
                        <i class="material-icons">
                            remove_red_eye
                        </i>
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <th scope="row" colspan="4">There is no users</th>
            </tr>
            {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
